.vs
.vscode
bin
bin-int
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

/Karem/res/texture/**.png
/Karem/imgui.ini
/Karem/assets/scenes

/scripts/__pycache__/**.pyc
/scripts/__pycache__/SetupPremake.cpython-311.pyc
/scripts/__pycache__/SetupPython.cpython-311.pyc
/scripts/__pycache__/Utils.cpython-311.pyc
