[submodule "Vendor/GLFW"]
	path = Vendor/GLFW
	url = https://github.com/HoooMaC/glfw.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/HoooMaC/spdlog.git
	branch = v1.x
[submodule "Vendor/ImGUI"]
	path = Vendor/ImGUI
	url = https://github.com/HoooMaC/imgui.git
	branch = docking
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/HoooMaC/glm.git
[submodule "Vendor/Rahman"]
	path = Vendor/Rahman
	url = https://github.com/HoooMaC/Rahman.git
[submodule "Vendor/yaml_cpp"]
	path = Vendor/yaml_cpp
	url = https://github.com/HoooMaC/yaml-cpp.git
